# Django3.1
Django==3.1
psycopg2

# REST APIに必要なもの。
djangorestframework
django-cors-headers

# 他にインストールしたいものがあればここに記載する。
networkx
matplotlib
scipy
lark
optuna

# django[argon2]
# bcrypt
# djoser
# djangorestframework_simplejwt